<% include ./header %>

<div class="ui secondary fixed menu" style="background-color: rgb(196, 255, 118)">
    <div class="item"><i class="pencil alternate icon" style="font-size: 2em;"></i>Blog Site</div>
    <a class="item" href="/blogs">Home</a>
    <a class="active item" href="/blogs/new">New Post</a>
</div>

<div class="ui main text container segment">
    <div class="ui huge header">New Blog</div>
    <form action="/blogs" class="ui form" method="POST">
        <div class="field">
          <label>Title</label>
          <input type="text" name="blog[title]" placeholder="Title" required>
        </div>
        <div class="field">
          <label>Image</label>
          <input type="text" name="blog[image]" placeholder="Image url" required>
        </div>
        <div class="field">
            <label>Blog</label>
            <textarea type="text" name="blog[body]" placeholder="blog post goes here" required></textarea>
        </div>
        <button class="ui inverted green button" type="submit">Submit</button>
    </form>
</div>